interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zgroup
    response:
      body:
        string:
          "{\n  \"kind\": \"storage#object\",\n  \"id\": \"ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zgroup/1734624776989731\",\n
          \ \"selfLink\": \"https://www.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zgroup\",\n
          \ \"mediaLink\": \"https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zgroup?generation=1734624776989731&alt=media\",\n
          \ \"name\": \"A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zgroup\",\n
          \ \"bucket\": \"ucl-hip-ct-35a68e99feaae8932b1d44da0358940b\",\n  \"generation\":
          \"1734624776989731\",\n  \"metageneration\": \"1\",\n  \"contentType\": \"application/octet-stream\",\n
          \ \"storageClass\": \"STANDARD\",\n  \"size\": \"24\",\n  \"md5Hash\": \"4gKXk15z3QFUEE1OpTBAqw==\",\n
          \ \"contentLanguage\": \"en\",\n  \"crc32c\": \"REp3Bw==\",\n  \"etag\": \"CKPYmu2ctIoDEAE=\",\n
          \ \"timeCreated\": \"2024-12-19T16:12:57.055Z\",\n  \"updated\": \"2024-12-19T16:12:57.055Z\",\n
          \ \"timeStorageClassUpdated\": \"2024-12-19T16:12:57.055Z\",\n  \"timeFinalized\":
          \"2024-12-19T16:12:57.055Z\",\n  \"metadata\": {\n    \"goog-reserved-file-mtime\":
          \"1733767202\"\n  }\n}\n"
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        Etag:
          - CKPYmu2ctIoDEAE=
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zarray
    response:
      body:
        string:
          "{\n  \"error\": {\n    \"code\": 404,\n    \"message\": \"No such object:
          ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zarray\",\n
          \   \"errors\": [\n      {\n        \"message\": \"No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zarray\",\n
          \       \"domain\": \"global\",\n        \"reason\": \"notFound\"\n      }\n
          \   ]\n  }\n}\n"
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o?delimiter=/&prefix=A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zarray/&maxResults=5000
    response:
      body:
        string: "{\n  \"kind\": \"storage#objects\"\n}\n"
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zgroup?alt=media
    response:
      body:
        string: "{\n    \"zarr_format\": 2\n}"
      headers:
        Content-Disposition:
          - attachment
        Content-Language:
          - en
        Content-Type:
          - application/octet-stream
        Etag:
          - CKPYmu2ctIoDEAE=
        Last-Modified:
          - Thu, 19 Dec 2024 16:12:57 GMT
        X-Goog-Generation:
          - "1734624776989731"
        X-Goog-Hash:
          - crc32c=REp3Bw==,md5=4gKXk15z3QFUEE1OpTBAqw==
        X-Goog-Metageneration:
          - "1"
        X-Goog-Storage-Class:
          - STANDARD
        X-Goog-Stored-Content-Encoding:
          - identity
        X-Goog-Stored-Content-Length:
          - "24"
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F2%2F.zarray?alt=media
    response:
      body:
        string:
          "{\n    \"chunks\": [\n        128,\n        128,\n        128\n    ],\n
          \   \"compressor\": {\n        \"blocksize\": 0,\n        \"clevel\": 8,\n
          \       \"cname\": \"zstd\",\n        \"id\": \"blosc\",\n        \"shuffle\":
          1\n    },\n    \"dimension_separator\": \"/\",\n    \"dtype\": \"<u2\",\n
          \   \"fill_value\": 0,\n    \"filters\": null,\n    \"order\": \"C\",\n    \"shape\":
          [\n        2077,\n        2077,\n        2391\n    ],\n    \"zarr_format\":
          2\n}"
      headers:
        Content-Disposition:
          - attachment
        Content-Language:
          - en
        Content-Type:
          - application/octet-stream
        Etag:
          - CKLXmJHStIoDEAE=
        Last-Modified:
          - Thu, 19 Dec 2024 20:11:19 GMT
        X-Goog-Generation:
          - "1734639079533474"
        X-Goog-Hash:
          - crc32c=eSH96g==,md5=PWnvW3BYZiXG0BRskhNQrg==
        X-Goog-Metageneration:
          - "1"
        X-Goog-Storage-Class:
          - STANDARD
        X-Goog-Stored-Content-Encoding:
          - identity
        X-Goog-Stored-Content-Length:
          - "401"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zmetadata?alt=media
    response:
      body:
        string: "No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/.zmetadata"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 404
        message: Not Found
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F.zattrs?alt=media
    response:
      body:
        string:
          "{\n    \"multiscales\": [\n        {\n            \"axes\": [\n                {\n
          \                   \"name\": \"x\",\n                    \"type\": \"space\",\n
          \                   \"unit\": \"micrometer\"\n                },\n                {\n
          \                   \"name\": \"y\",\n                    \"type\": \"space\",\n
          \                   \"unit\": \"micrometer\"\n                },\n                {\n
          \                   \"name\": \"z\",\n                    \"type\": \"space\",\n
          \                   \"unit\": \"micrometer\"\n                }\n            ],\n
          \           \"datasets\": [\n                {\n                    \"coordinateTransformations\":
          [\n                        {\n                            \"translation\":
          [\n                                0.5,\n                                0.5,\n
          \                               0.5\n                            ],\n                            \"type\":
          \"translation\"\n                        },\n                        {\n                            \"scale\":
          [\n                                24.132,\n                                24.132,\n
          \                               24.132\n                            ],\n                            \"type\":
          \"scale\"\n                        }\n                    ],\n                    \"path\":
          \"0\"\n                },\n                {\n                    \"coordinateTransformations\":
          [\n                        {\n                            \"translation\":
          [\n                                0.5,\n                                0.5,\n
          \                               0.5\n                            ],\n                            \"type\":
          \"translation\"\n                        },\n                        {\n                  [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F2%2F.zgroup?alt=media
    response:
      body:
        string: "No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/2/.zgroup"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 404
        message: Not Found
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F2%2F.zattrs?alt=media
    response:
      body:
        string: "No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/2/.zattrs"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 404
        message: Not Found
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/A186%2Flung-right%2F24.132um_complete-organ_bm18.ome.zarr%2F2%2F.zattrs?alt=media
    response:
      body:
        string: "No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/A186/lung-right/24.132um_complete-organ_bm18.ome.zarr/2/.zattrs"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 404
        message: Not Found
version: 1
