interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fattributes.json
    response:
      body:
        string:
          "{\n  \"kind\": \"storage#object\",\n  \"id\": \"ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/LADAF-2020-27/spleen/25.08um_complete-organ_bm05/attributes.json/1699570309817999\",\n
          \ \"selfLink\": \"https://www.googleapis.com/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fattributes.json\",\n
          \ \"mediaLink\": \"https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fattributes.json?generation=1699570309817999&alt=media\",\n
          \ \"name\": \"LADAF-2020-27/spleen/25.08um_complete-organ_bm05/attributes.json\",\n
          \ \"bucket\": \"ucl-hip-ct-35a68e99feaae8932b1d44da0358940b\",\n  \"generation\":
          \"1699570309817999\",\n  \"metageneration\": \"1\",\n  \"contentType\": \"application/json\",\n
          \ \"storageClass\": \"STANDARD\",\n  \"size\": \"165\",\n  \"md5Hash\": \"j2FYdh93jFvZIdfPrAICIg==\",\n
          \ \"crc32c\": \"RCInSA==\",\n  \"etag\": \"CI/N2eSAuIIDEAE=\",\n  \"timeCreated\":
          \"2023-11-09T22:51:49.857Z\",\n  \"updated\": \"2023-11-09T22:51:49.857Z\",\n
          \ \"timeStorageClassUpdated\": \"2023-11-09T22:51:49.857Z\"\n}\n"
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        Etag:
          - CI/N2eSAuIIDEAE=
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fattributes.json?alt=media
    response:
      body:
        string: '{"axes":["x","y","z"],"downsamplingFactors":[[1,1,1],[2,2,2],[4,4,4],[8,8,8],[16,16,16]],"multiScale":true,"resolution":[25.08,25.08,25.08],"units":["um","um","um"]}'
      headers:
        Content-Disposition:
          - attachment
        Content-Type:
          - application/json
        Etag:
          - CI/N2eSAuIIDEAE=
        Last-Modified:
          - Thu, 09 Nov 2023 22:51:49 GMT
        X-Goog-Generation:
          - "1699570309817999"
        X-Goog-Hash:
          - crc32c=RCInSA==,md5=j2FYdh93jFvZIdfPrAICIg==
        X-Goog-Metageneration:
          - "1"
        X-Goog-Storage-Class:
          - STANDARD
        X-Goog-Stored-Content-Encoding:
          - identity
        X-Goog-Stored-Content-Length:
          - "165"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fs2%2Fattributes.json?alt=media
    response:
      body:
        string: '{"axes":["x","y","z"],"blockSize":[128,128,128],"compression":{"blocksize":0,"clevel":9,"cname":"zstd","shuffle":2,"type":"blosc"},"dataType":"uint16","dimensions":[538,730,475]}'
      headers:
        Content-Disposition:
          - attachment
        Content-Type:
          - application/json
        Etag:
          - CMzWkuSAuIIDEAE=
        Last-Modified:
          - Thu, 09 Nov 2023 22:51:48 GMT
        X-Goog-Generation:
          - "1699570308655948"
        X-Goog-Hash:
          - crc32c=GnWdJA==,md5=JdqibFrFbGNHph3BSSexNw==
        X-Goog-Metageneration:
          - "1"
        X-Goog-Storage-Class:
          - STANDARD
        X-Goog-Stored-Content-Encoding:
          - identity
        X-Goog-Stored-Content-Length:
          - "178"
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/LADAF-2020-27/o/spleen%2F25.08um_complete-organ_bm05%2F.zmetadata?alt=media
    response:
      body:
        string: "Invalid bucket name: &#39;LADAF-2020-27&#39;"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 400
        message: Bad Request
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/LADAF-2020-27/o/spleen%2F25.08um_complete-organ_bm05%2Fattributes.json?alt=media
    response:
      body:
        string: "Invalid bucket name: &#39;LADAF-2020-27&#39;"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 400
        message: Bad Request
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2F.zmetadata?alt=media
    response:
      body:
        string: "No such object: ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/LADAF-2020-27/spleen/25.08um_complete-organ_bm05/.zmetadata"
      headers:
        Content-Type:
          - text/html; charset=UTF-8
      status:
        code: 404
        message: Not Found
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://storage.googleapis.com/download/storage/v1/b/ucl-hip-ct-35a68e99feaae8932b1d44da0358940b/o/LADAF-2020-27%2Fspleen%2F25.08um_complete-organ_bm05%2Fs2%2Fattributes.json?alt=media
    response:
      body:
        string: '{"axes":["x","y","z"],"blockSize":[128,128,128],"compression":{"blocksize":0,"clevel":9,"cname":"zstd","shuffle":2,"type":"blosc"},"dataType":"uint16","dimensions":[538,730,475]}'
      headers:
        Content-Disposition:
          - attachment
        Content-Type:
          - application/json
        Etag:
          - CMzWkuSAuIIDEAE=
        Last-Modified:
          - Thu, 09 Nov 2023 22:51:48 GMT
        X-Goog-Generation:
          - "1699570308655948"
        X-Goog-Hash:
          - crc32c=GnWdJA==,md5=JdqibFrFbGNHph3BSSexNw==
        X-Goog-Metageneration:
          - "1"
        X-Goog-Storage-Class:
          - STANDARD
        X-Goog-Stored-Content-Encoding:
          - identity
        X-Goog-Stored-Content-Length:
          - "178"
      status:
        code: 200
        message: OK
version: 1
